.character-container {
  // width: 110px;
  font-family: "Lemon", serif;
  height: 120px;
}
#character-name {
  position:absolute;
  top: -10px;
  left: 70px;
  font-size: 24px;
}

.character-attributs-container {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.character-attributs {
  display: flex;
  width: 50px;
  height: 65px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4px 0;
  border: 1px solid white;
  text-align: center;
  border-radius: 3px;
}

.ca-atk {
  background-color: rgba(255, 0, 0, 0.6);
}
.ca-mag {
  background-color: rgba(0, 0, 255, 0.6);
}
.ca-def {
  background-color: rgba(0, 128, 0, 0.6);
}

.character-stats-container {
  // border: 1px solid white;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.character-stats {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 12;
}

.character-action-points {
  height: 25px;
  margin-left:55px;
  position: relative;
  top:-20px;
  // border: 3px solid white;
}

.character-stats-flex-line {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-around;
}

.character-stats-line {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.character-stats-img {
  width: 80px;
  border: 3px solid white;
  border-radius: 50%;
}

.character-life-container {
  width: 130px;
  height: 20px;
  background: darkred;
  margin: 5px 0;
  border: 3px solid white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden; /* Empêche le débordement */
}

.character-life {
  height: 100%;
  background: rgba(28, 185, 28, 0.837);
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-stat-infos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  position: relative;
  z-index: 13;
  top:-10px;
}

.character-life-info {
  display: flex;
  align-items: last baseline;
  position: relative;
  z-index: 13;
  top:25px;

}
.life-info {
  color: rgb(252, 204, 80);
text-shadow: 2px 2px 2px black;
}
#actual-life {
font-size: 30px;
}
#separator-life {
  font-size: 28px;

}
#initial-life {
  font-size: 22px;

}
