/// LIFE ENEMY ///
.bf-enemy-lifecontainer {
  width: 50px;
  height: 6px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  background-color: red;
  display: none;
}

.bf-enemy-life {
  height: 100%;
  background: green;
}

.bf-target-outer-test {
  width: 36px;
  height: 55px;
  // background-color: rgba(0, 0, 255, 0.3);
  position: relative;
  left: 40px;
  bottom: -25px;
}

.bf-target-center-test {
  width: 25px;
  height: 28px;
  // background-color: rgba(255, 0, 0, 0.3);
  position: relative;
  top: 25px;
  left: 45%;
  transform: translateX(-55%);
}

.bf-target-style-test {
  // border: 2px solid white;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
}

/////// BLUE ///////
.soldier-img-blue {
  top: 0;
  left: -5px;
  width: 85px;
}
.soldier-blue {
  left: 50px;
  top: 30px;
  animation: soldierMove1 4s infinite linear;
}

///////// GREEN /////////
.soldier-img-green {
  top: 0;
  left: -40px;
  width: 120px;
}
.soldier-green {
  left: 550px;
  top: 30px;
  animation: soldierMove2 3s infinite linear;
}
/////// WHITE /////////
.soldier-img-white {
  top: 0;
  left: -20px;
  width: 100px;
}

.soldier-white {
  left: 850px;
  top: 30px;
  animation: soldierMove3 1s infinite linear;
}

//// TEST///

.soldier-beta {
  // position: absolute;
  // bottom: 290px;
  pointer-events: none;
  width: 133px;
  height: 131px;
  // left: 650px;
  animation: soldierBeta 1s steps(7) infinite;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/public/assets/aim_shooter_char/soldier_1.png");
  transform: scale(2.2);
}

.soldier-zeta {
  // position: absolute;
  // left: 950px;
  // bottom: 170px;
  pointer-events: none;
  width: 133px;
  height: 131px;
  animation: soldierBeta 1s steps(7) infinite;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/public/assets/aim_shooter_char/soldier_1.png");
  transform: scale(4);
}

.soldier-epyon {
  // position: absolute;
  // left: 420px;
  // bottom: 250px;
  pointer-events: none;
  width: 133px;
  height: 131px;
  animation: soldierBeta 1s steps(7) infinite;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/public/assets/aim_shooter_char/soldier_1.png");
  transform: scale(3);
}

@keyframes soldierBeta {
  from {
    background-position: 0 0px;
  }
  to {
    background-position: -919px 0px;
  }
}

// @keyframes soldierMove1 {
//   0% {
//     transform: translateX(0px);
//   }
//   50% {
//     transform: translateX(130px);
//   }
//   75% {
//     transform: translateX(130px);
//   }
//   100% {
//     transform: translateX(0px);
//   }
// }

// @keyframes soldierMove2 {
//   0% {
//     transform: translateX(0px);
//   }
//   50% {
//     transform: translateX(-130px);
//   }
//   75% {
//     transform: translateX(-130px);
//   }
//   100% {
//     transform: translateX(0px);
//   }
// }
// @keyframes soldierMove3 {
//   0% {
//     transform: translateX(0px);
//   }
//   50% {
//     transform: translateX(130px);
//   }
//   75% {
//     transform: translateX(130px);
//   }
//   100% {
//     transform: translateX(0px);
//   }
// }

@keyframes soldierDeath {
  from {
    background-position: 0 0px;
  }
  to {
    background-position: -396px 0px;
  }
}
