@import // BATTLE SCENE
  "../components/BattleScene/battleScene",
  // CHARACTER
  "../components/Character/character",
  // CARDS
  "../components/Cards/cards",
  // MENU
  "../pages/Menu/menu",
  //OPTIONS
  "../pages/Options/options",
  //COMBAT
  "../pages/Combat/combat",
  //SELECTOR
  "../pages/Selector/selector",
  // SelectedChar component
  "../components/SelectedChar/selectedChar",
  // GUNRANGE
  "../pages/GunRange/gunRange",
  // GUNRANGE STORY
  "../pages/GunRangeScenario/gunRangeScenario",
  // TARGETS component
  "../components/Targets/targets",
  // HOME
  "../pages/Home/home",
  // TARGETSCORE component
  "../components/TableScore/tableScore",
  // WEAPON AMMO component
  "../components/WeaponAmmo/weaponAmmo",
  // BattlefieldOne component
  "../components/BattlefieldOne/battlefieldOne",
  // SOLDIER component
  "../components/Soldier/soldier",
  // SOLDIER TEST
  "../components/SoldierTest/soldierTest";

#root-app {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 98vw;
  border: 1px solid red;
}
