@charset "UTF-8";
#battleScene-container {
  width: 100%;
  height: 690px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.battleScene-position-line-chars {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.battleScene-position-line-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.battleScene-message {
  width: 700px;
  text-align: center;
  height: 20px;
  margin: 5px 0;
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "helvetica", serif;
  font-size: 24px;
  font-family: "Lemon", serif;
}
.battleScene-message p {
  padding: 0;
  margin: 0;
}
.battleScene-message .critical-message {
  color: darkorange;
}

#button-endturn {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50px;
  padding: 10px;
}

#battleScene-column-chars {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 370px;
  position: relative;
}

#battleScene-display-chars {
  position: relative;
  z-index: 15;
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.battleScene-display-char-shadow {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  z-index: 9;
}

.battleScene-display-img {
  height: 260px;
}

#char_one {
  position: absolute;
  z-index: 16;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#char_com_one {
  position: absolute;
  z-index: 16;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#battleScene-display-chars-computer {
  position: relative;
  z-index: 15;
  width: 50%;
  height: 300px;
}

#battleScene-stage {
  width: 60vw;
  height: 100px;
  border: 1px solid white;
  position: absolute;
  z-index: 0;
  transform-origin: center top; /* Changez l'origine de la transformation */
  transform: perspective(600px) rotateX(45deg) translateY(-35%);
  top: 50%;
  left: 20%;
  background: grey;
  background-image: url("../../../public/assets/background/background_mountain.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#battleScene-stage-shadow-hero {
  width: 170px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  z-index: 10;
  transform-origin: center top; /* Changez l'origine de la transformation */
  transform: perspective(600px) rotateX(45deg) translateY(-55%) translateX(-50%);
  top: 88%;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
}

#battleScene-stage-shadow-enemy {
  width: 170px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  z-index: 10;
  transform-origin: center top; /* Changez l'origine de la transformation */
  transform: perspective(600px) rotateX(45deg) translateY(-55%) translateX(-50%);
  top: 88%;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
}

.battleScene-column-card-choice-com-container {
  width: 160px;
  position: absolute;
  z-index: 2;
  bottom: 20px;
  height: 200px;
  transform: scale(0.8);
}

.character-container {
  font-family: "Lemon", serif;
  height: 120px;
}

#character-name {
  position: absolute;
  top: -15px;
  left: 70px;
  font-size: 24px;
}

.character-attributs-container {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.character-attributs {
  display: flex;
  width: 50px;
  height: 65px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4px 0;
  border: 1px solid white;
  text-align: center;
  border-radius: 3px;
}

.ca-atk {
  background-color: rgba(255, 0, 0, 0.6);
}

.ca-mag {
  background-color: rgba(0, 0, 255, 0.6);
}

.ca-def {
  background-color: rgba(0, 128, 0, 0.6);
}

.character-stats-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.character-stats {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 12;
}

.character-action-points {
  height: 25px;
  margin-left: 55px;
  position: relative;
  top: -20px;
}

.character-stats-flex-line {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-around;
}

.character-stats-line {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.character-stats-img {
  width: 80px;
  border: 3px solid white;
  border-radius: 50%;
}

.character-life-container {
  width: 130px;
  height: 20px;
  background: darkred;
  margin: 5px 0;
  border: 3px solid white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden; /* Empêche le débordement */
}

.character-life {
  height: 100%;
  background: rgba(28, 185, 28, 0.837);
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-stat-infos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  position: relative;
  z-index: 13;
  top: -10px;
}

.character-life-info {
  display: flex;
  align-items: last baseline;
  position: relative;
  z-index: 13;
  top: 25px;
}

.life-info {
  color: rgb(252, 204, 80);
  text-shadow: 2px 2px 2px black;
}

#actual-life {
  font-size: 30px;
}

#separator-life {
  font-size: 28px;
}

#initial-life {
  font-size: 22px;
}

.cards-container {
  width: 140px;
  height: 190px;
  border: 4px solid darkgoldenrod;
  margin: 0 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s linear;
  border-radius: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 160%;
  position: relative;
  z-index: 10;
  font-family: "Pirata One", system-ui;
}
.cards-container:hover {
  transform: scale(1.2);
}

#cards-flex {
  display: none;
}

.cards-text {
  font-size: 30px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  color: yellow;
  text-shadow: 2px 2px 2px black;
  font-family: "Bungee Spice", sans-serif;
  background: black;
  position: relative;
  z-index: 10;
  top: 0px;
}

.cards-infos {
  display: flex;
  align-items: center;
  width: 138px;
  position: absolute;
  z-index: 12;
}

.infos-top {
  justify-content: center;
  top: 0px;
}

.cards-info {
  width: 43px;
  height: 40px;
  padding: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  position: absolute;
  z-index: 12;
  left: 0px;
}

.cards-cost {
  display: flex;
  padding: 5px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
  font-family: "Kalnia Glaze", serif;
  position: absolute;
  right: 3px;
  background: whitesmoke;
  border: 3px solid darkgoldenrod;
  border-radius: 50%;
  z-index: 12;
}

.cards-title {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background: rgba(47, 79, 79, 0.6);
  text-shadow: 3px 3px 3px black;
}

.test {
  background: rgba(139, 0, 0, 0.8);
}

.cards-effect-container {
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  width: 140px;
  background: rgba(47, 79, 79, 0.6);
  margin: 0 10px;
  border: 1px solid white;
  border-right: none;
  border-left: none;
}

.cards-effect-text {
  font-size: 24px;
}

.cards-effect {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#menu-container {
  background-image: url("/assets/test5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.menu-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.menu-button {
  width: 300px;
  height: 50px;
  border: 7px solid darkred;
  border-radius: 10px;
  color: darkred;
  margin: 20px;
  font-size: 40px;
  background: rgba(255, 255, 255, 0.594);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lemon", serif;
  text-shadow: 3px 3px 3px black;
  box-shadow: 3px 3px 3px black;
}
.menu-button:hover {
  border: 7px solid darkgoldenrod;
  background: rgba(0, 0, 0, 0.7);
  color: darkgoldenrod;
  text-shadow: 3px 3px 3px black;
}

.menu-title-container {
  width: 1200px;
  height: 30vh;
  position: relative;
}

.menu-title {
  font-size: 120px;
  text-align: center;
  font-family: "Lemon", serif;
  text-shadow: 3px 3px 3px black;
  position: relative;
  z-index: 5;
  color: darkred;
}

.menu_sword {
  width: 70vw;
  position: absolute;
  z-index: 2;
  transform: rotate(110deg);
  top: 0;
  left: -50px;
  pointer-events: none;
}

.menu_dogwild {
  width: 350px;
  position: absolute;
  z-index: 2;
}

.dogwild {
  top: -40px;
  right: -90px;
}

#selector-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bungee Spice", sans-serif;
}

#selector-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector-chars-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.selector-char-wrapper {
  width: 200px;
  padding: 5px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.selector-char-wrapper img {
  width: 160px;
  border: 7px solid white;
  border-radius: 50%;
}
.selector-char-wrapper img:hover {
  border: 7px solid goldenrod;
}
.selector-char-wrapper .selector-char-name {
  font-size: 40px;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}

#selector-choice-text {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
#selector-choice-text div {
  width: 50%;
  text-align: center;
  font-size: 40px;
  text-shadow: 5px 5px 5px black;
}

#selector-selected-container {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 2px 2px 2px black;
}

.selector-selected-char-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector-selected-char-name {
  font-size: 24px;
}

.selector-selected-char {
  width: 300px;
  height: 300px;
  border: 3px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: seagreen;
  background-image: url("/assets/bg_space_test.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.selector-selected-char img {
  height: 100px;
}

#selector-versus {
  font-size: 230px;
  position: absolute;
}

.selector-stats-line-wrapper {
  display: flex;
}

.selector-stats-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin: 0 10px;
}
.selector-stats-line img {
  height: 40px;
  margin: 0 5px;
}

.line-flex {
  width: 230px;
}

#selector-char-resistance {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#selector-char-weakness {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.selector-heroes-background {
  background-color: #1d7486;
}

.selector-enemies-background {
  background-color: #911a1a;
}

.selector-button-return {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background: black;
  font-size: 20px;
  cursor: pointer;
}
.selector-button-return:hover {
  background: white;
  border: 3px solid darkorange;
}

.selector-button-validate {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background: black;
  font-size: 20px;
  animation: validate 0.8s infinite ease-in;
  cursor: pointer;
}
.selector-button-validate:hover {
  background: white;
  border: 3px solid darkorange;
}

@keyframes validate {
  0% {
    font-size: 30px;
  }
  50% {
    font-size: 26px;
  }
  100% {
    font-size: 30px;
  }
}
.selector-heroes-background {
  background-color: #1d7486;
}

.selector-enemies-background {
  background-color: #911a1a;
}

#fullscreen-shoot {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jersey 10", sans-serif;
  background-image: url("/assets/background/metalbg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 2px 2px black;
}

.weapon-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.weapon-ammo {
  margin: 0 10px;
  font-size: 32px;
  text-shadow: 2px 2px 2px black;
}

.char-name,
.char-info,
.timer {
  font-size: 20px;
}

.bullets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkslategray;
  border-radius: 8px;
  padding: 10px;
  width: 450px;
  position: relative;
}

.bullet-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(80, 108, 108);
  border-radius: 12px;
  padding: 10px;
  width: 450px;
}

.bullet {
  width: 10px;
  margin: 2px;
}

.magazine-display {
  height: 60px;
}

.empty-ammo {
  position: absolute;
  bottom: 25%;
  right: 0%;
  width: 200px;
  transform: translateX(-40%);
  font-size: 40px;
}

#scores-container {
  display: flex;
  align-items: center;
  position: absolute;
  width: 400px;
  height: 140px;
  top: 20px;
  left: 40%;
  transform: translateX(-40%);
  z-index: 1;
}

.char-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 20px;
}

.char-name {
  font-size: 24px;
}

.timer {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  border: 3px solid white;
  width: 90px;
}

.empty {
  text-align: center;
  font-size: 32px;
  text-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-reload {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 80px;
  border: 5px solid darkgoldenrod;
  color: darkgoldenrod;
  font-size: 28px;
  border-radius: 8px;
  background: lightcyan;
}
#button-reload:hover {
  background: black;
  color: white;
  border: 5px solid white;
}

.fired {
  background-color: rgb(92, 91, 91);
}

.impact {
  position: absolute;
  z-index: 5;
  border-radius: 50%;
  border: 1px solid red;
  width: 5px;
  height: 5px;
  background-color: darkred;
  pointer-events: none;
}

.scope-button {
  border-radius: 5px;
  border: 3px solid white;
  width: 90px;
  height: 35px;
  padding: 4px 10px;
  margin: 5px 10px 5px 0;
}

.pistol-img {
  width: 30px;
}

.rifle-img {
  width: 60px;
}

.smg-img {
  width: 41px;
}

.highscore {
  color: #ffffff;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #f00;
}

#targets-scope {
  position: absolute;
  width: 130px; /* Taille du viseur */
  height: 130px;
  border: 2px solid white; /* Bordure du viseur */
  border-radius: 50%; /* Forme circulaire */
  overflow: hidden; /* Cache tout ce qui dépasse */
  pointer-events: none; /* Empêche les interactions avec la souris */
  transform: translate(-50%, -50%); /* Centre le viseur sur la souris */
  z-index: 10; /* Place le viseur au-dessus des autres éléments */
  background-color: rgba(0, 0, 0, 0.3); /* Effet de transparence */
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px); /* Effet de flou pour la loupe */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
#targets-scope div {
  transform: scale(2) translateY(-2px);
}

#gun-range-input {
  border: 10px solid white;
  position: relative;
  z-index: 100;
  border-radius: 10px;
}

.gr-input {
  font-size: 70px;
  padding: 20px;
  border: none;
  color: white;
  font-family: "Jersey 10", sans-serif;
}

.gr-input-btn {
  font-size: 70px;
  border: none;
  color: white;
  padding: 20px;
  background: darkcyan;
  font-family: "Jersey 10", sans-serif;
  cursor: pointer;
}
.gr-input-btn:hover {
  background: darkorange;
}

#gun-range-modal-shadow {
  position: absolute;
  z-index: 95;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
}

#gun-range-modal-score {
  position: absolute;
  z-index: 95;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-score {
  border: 3px solid white;
  width: 40vw;
  padding: 10px;
  margin: 3px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gun-range-final-score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.gun-range-final-score div {
  border: 3px solid white;
  padding: 10px;
  font-size: 34px;
  width: 16vw;
}

.targets-container {
  width: 95vw;
  height: 70vh;
  border: 1px solid white;
  position: absolute;
  bottom: 20px;
  background-image: url("/assets/background/gun_range.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#targets-title {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid white;
  margin: 10px;
  padding: 2px 5px;
}

.target-outer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: blue;
  position: relative;
  z-index: 2;
}

.target-inner {
  width: 110px;
  height: 110px;
  background-color: green;
  position: relative;
  z-index: 2;
}

.target-near-center {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: goldenrod;
  position: relative;
  z-index: 2;
}

.target-center {
  width: 30px;
  height: 30px;
  background-color: red;
  position: relative;
  z-index: 2;
}

.target-style {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.target-1 {
  animation: move1 6s infinite ease;
}

.target-2 {
  animation: move2 4s infinite linear;
}

.target-3 {
  animation: move3 5s infinite ease-in-out;
}

@keyframes move1 {
  0% {
    transform: translateX(5vw);
  }
  25% {
    transform: translateX(40vw);
  }
  50% {
    transform: translateX(20vw);
  }
  75% {
    transform: translateX(80vw);
  }
  100% {
    transform: translateX(5vw);
  }
}
@keyframes move2 {
  0% {
    transform: translateX(5vw) translateY(0px);
  }
  10% {
    transform: translateX(25vw) translateY(50px);
  }
  20% {
    transform: translateX(40vw) translateY(0px);
  }
  30% {
    transform: translateX(50vw) translateY(50px);
  }
  40% {
    transform: translateX(70vw) translateY(0px);
  }
  50% {
    transform: translateX(80vw) translateY(50px);
  }
  60% {
    transform: translateX(70vw) translateY(0px);
  }
  80% {
    transform: translateX(50vw) translateY(50px);
  }
  90% {
    transform: translateX(25vw) translateY(30px);
  }
  100% {
    transform: translateX(5vw) translateY(0px);
  }
}
@keyframes move3 {
  0% {
    transform: translateX(5vw);
  }
  25% {
    transform: translateX(80vw);
  }
  50% {
    transform: translateX(5vw);
  }
  75% {
    transform: translateX(80vw);
  }
  100% {
    transform: translateX(5vw);
  }
}
#home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 98vw;
  height: 98vh;
  border: 1px solid red;
  font-family: "Jersey 10", sans-serif;
}

#home-choose-game {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
}

.home-buttons {
  width: 500px;
  height: 300px;
  font-size: 60px;
  position: relative;
}

.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px 3px black;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.home-button:hover {
  color: red;
  border: 3px solid red;
}

#dr_bg {
  background-image: url("/assets/background/dungeon_rush.jpg");
}

#as_bg {
  background-image: url("/assets/background/aim_shooter.jpg");
}

table {
  text-align: center;
  width: 400px;
  table-layout: fixed;
}

th,
td,
tr {
  border: 1px solid white;
  background: rgb(99, 100, 100);
  text-shadow: 2px 2px 2px black;
  font-size: 20px;
  width: 85px;
  height: 25px;
  padding: 0;
}

.target-red {
  color: red;
}

.target-goldenrod {
  color: goldenrod;
}

.target-green {
  color: green;
}

.target-blue {
  color: blue;
}

#root-app {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 98vw;
  border: 1px solid red;
}/*# sourceMappingURL=App.css.map */