.cards-container {
  width: 120px;
  height: 170px;
  border: 3px solid darkgoldenrod;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s linear;
  border-radius: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 10;
  &:hover {
    transform: scale(1.2);
  }
}
#cards-flex {
  display: none;
}

.cards-text {
  font-size: 32px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-infos {
  display: flex;
  align-items: center;
  width: 118px;
  position: absolute;
  z-index: 12;
}
.infos-top {
  justify-content: space-between;
  top: 0px;
}
.infos-bottom {
  bottom: 0px;
  //  justify-content: center;
}

.cards-info {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cards-cost {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
