#fullscreen-shoot {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jersey 10", sans-serif;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 2px 2px black;
}

.char-name,
.char-info,
.timer {
  font-size: 20px;
}

#scores-container {
  display: flex;
  align-items: center;
  position: absolute;
  width: 400px;
  height: 140px;
  top: 20px;
  left: 40%;
  transform: translateX(-40%);
  z-index: 1;
}

.char-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 20px;
}
.char-name {
  font-size: 24px;
}
.timer {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  border: 3px solid white;
  width: 90px;
}

.empty {
  text-align: center;
  font-size: 32px;
  text-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-reload {
  display: none;
  text-align: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 100px;
  border: 5px solid darkgoldenrod;
  color: darkgoldenrod;
  font-size: 32px;
  border-radius: 8px;
  background: lightcyan;
  &:hover {
    background: black;
    color: white;
    border: 5px solid white;
  }
}
.fired {
  background-color: rgb(92, 91, 91);
}

.impact {
  position: absolute;
  z-index: 5;
  border-radius: 50%;
  border: 1px solid red;
  width: 5px;
  height: 5px;
  background-color: darkred;
  pointer-events: none;
}
.scope-button {
  border-radius: 5px;
  border: 3px solid white;
  width: 90px;
  height: 35px;
  padding: 4px 10px;
  margin: 5px 10px 5px 0;
}
.pistol-img {
  width: 30px;
}

.rifle-img {
  width: 60px;
}

.smg-img {
  width: 41px;
}

.highscore {
  color: #ffffff;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
}

#targets-scope {
  position: absolute;
  width: 130px; /* Taille du viseur */
  height: 130px;
  border: 2px solid white; /* Bordure du viseur */
  border-radius: 50%; /* Forme circulaire */
  overflow: hidden; /* Cache tout ce qui dépasse */
  pointer-events: none; /* Empêche les interactions avec la souris */
  transform: translate(-50%, -50%); /* Centre le viseur sur la souris */
  z-index: 10; /* Place le viseur au-dessus des autres éléments */
  background-color: rgba(0, 0, 0, 0.3); /* Effet de transparence */
  backdrop-filter: blur(3px); /* Effet de flou pour la loupe */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  div {
    transform: scale(2) translateY(-2px);
  }
}

#gun-range-input {
  border: 10px solid white;
  position: relative;
  z-index: 100;
  border-radius: 10px;
}
.gr-input {
  font-size: 70px;
  padding: 20px;
  border: none;
  color: white;
  font-family: "Jersey 10", sans-serif;
}

.gr-input-btn {
  font-size: 70px;
  border: none;
  color: white;
  padding: 20px;
  background: darkcyan;
  font-family: "Jersey 10", sans-serif;

  cursor: pointer;
  &:hover {
    background: darkorange;
  }
}

