.targets-container {
  width: 95vw;
  height: 70vh;
  border: 1px solid white;
  position: absolute;
  bottom: 20px;
  cursor: crosshair;
  background-position: center;
  background-repeat: no-repeat;
  background-size:90vw 90vh;
  user-select: none;
  -webkit-user-drag: none;
  overflow: hidden;
}

#targets-title {
  position: absolute;
  top: 20px;
  left: 0;
  border: 1px solid white;
  margin: 10px;
  padding: 2px 5px;
}

.bf-target-wrapper {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  position: absolute;
  z-index: 2;
}

.bf-obstacle {
  position: absolute;
  z-index: 5;
  width: 150px;
  height: 300px;
  background: black;
  border: 1px solid red;
}

.obstacle1 {
  top: 0;
  left: 0px;
}
.obstacle2 {
  top:0;
  left: 500px;
}
.obstacle3 {
  top:0;
  left: 800px;
}
